nav{
    background-color:white;
    display: inline-block;
    width: 100%;
    border-bottom: 4px solid orange;
    height: 50px;
}

a {
    color: coral;
    text-decoration: none;

}
.link{
    text-decoration: none;
    margin-right: 10px;
    margin-top: 20px;
}
.link1{
    position: absolute;
    left: 20px;
    top: 15px;
}

a:hover {
text-decoration: solid;
color:orangered;
}
ul {
    display: inline;
    float: right;
    list-style-type: none;
}

li{
    display: inline;
}
#logo{
    height: 40px; 
}
.flex-container{
    display: flex;
    width: 100%;    
    height: 300px;
    overflow: hidden;
}
.flex-item{
    display: flex;
    align-items: center;
    margin: 0%;
}
h2{
    text-align: center;
    padding-top: 20px;
    color: orange;
}

.grid-container{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    max-width: 2500px;
    min-height: 310px;
    justify-content: center;
    justify-content: space-evenly;
    justify-items: center;
    border-bottom: 4px solid orange;
}

.grid-item{
    width: 150px;
    
 
}
.text{
    text-align: center;
}
h4{
    text-align: center;
}

.grid-container2{
    background-image: url(res/contest_image.jpg);
    background-position-y: center;
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 80px 150px 50px;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding-top: 50px;
    
    
}
.grid-item2{
    display: flex;
    align-items: left;
    margin: 0%;
    text-align: left;
}
#button{
    display: flex;
    background-color:rgba(255, 99, 71, 0);
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
    
}

#text{
    text-align: center;
}


.grid-container3{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    margin-top: 30px;
    height: 400px;

}

.venice{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paris{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.rome{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text3{
    text-align: center;
    margin-top: 140px;
    color: white;
}
.button2{
    background-color:rgba(255, 99, 71, 0.3);
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    height: 40px;
}

#uploadImg{
    width: 70px;
    position: absolute;
    right: 40px;
    
}
#uploadlabel{

    margin-bottom: 10px;
}

#footer{
    background-color: orange;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 30px;
    margin-top: 20px;

}
h5{
    color: white;
}

.grid-container4{
    background-image: url(res/contest_image.jpg);
    background-position-y: center;
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 80px 150px;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding-top: 50px;
    
    
}
.grid-item4{
    display: flex;
    align-items: left;
    margin: 0%;
    text-align: left;
    color: white;
}

.grid-container5{

    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin-top: 20px;
    gap: 20px;
    padding: 10px;
    
}

.grid-item5{
    display: grid;
    justify-content: center;
    overflow: hidden;
    

}
.imgs{
    height: 300px;
    width: 300px;
}

@media screen and (max-width:900px) {

    .flex-container{
        width: 100%;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        max-width: 100%;
        
        justify-content: baseline;
        justify-content: space-evenly;
        
        border-bottom: 4px solid orange;
    }
    .grid-container2{
        background-image: url(res/contest_image.jpg);
        /* background-position-y: center; */
        display: grid;
        grid-template-columns: 220px;
        grid-template-rows: 80px 150px 50px;
        /* justify-content: center;
        justify-items: center; */
        /* width: 100%; */
        height: 300px;
        overflow: hidden;
        padding-top: 50px;
        
        
    }
    .grid-item2{
        display: flex;
        align-items: left;
        margin: 0%;
        text-align: left;
    }
    .grid-container3{
        display: grid;
        justify-content: center;
        grid-template-columns: 500px;
        grid-template-rows: 500px 500px 500px;
        margin-top: 30px;
        height: 400px;
    
    }
    .grid-container5{

        display: grid;
        justify-content: center;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px 200px 200px 200px;
        margin-top: 20px;
        gap: 20px;
        padding: 10px;
        
    }
    
}

@media screen and (max-width:500px) {

    .flex-container{
        width: auto;
    }

    .grid-container{
        display: block;
        width: 100%;
        border-bottom: 4px solid orange;
    }
    
    nav{
        background-color:white;
        display: block;
        width: 100%;
        height: 200px;
        border-bottom: 4px solid orange;
        margin-top: 50px;
        
    }
    ul {
        display: block;
        float: left;
        list-style-type: none;
    }
    li{
        display: block;
    }
    .link{
        text-decoration: none;
        
        margin-top: 30px;
    }
    .link1{
        position: absolute;
        left: 40px;
        top: 20px;
    }
    .grid-container5{

        display: grid;
        justify-content: center;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        margin-top: 20px;
        gap: 20px;
        padding: 10px;
        
    }
}